src/conf/xml-resources/web-service-references/RegistrationAuthorityWS/wsdl/192.168.2.203_8084/TokenService/RegistrationAuthorityWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://raservice.mobileid.vn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://raservice.mobileid.vn/">

<xs:element name="CertificateEncodingException" type="tns:CertificateEncodingException"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="NoSuchAlgorithmException" type="tns:NoSuchAlgorithmException"/>

<xs:element name="enrollCertificate" type="tns:enrollCertificate"/>

<xs:element name="enrollCertificateDLSigner" type="tns:enrollCertificateDLSigner"/>

<xs:element name="enrollCertificateDLSignerResponse" type="tns:enrollCertificateDLSignerResponse"/>

<xs:element name="enrollCertificateDS" type="tns:enrollCertificateDS"/>

<xs:element name="enrollCertificateDSResponse" type="tns:enrollCertificateDSResponse"/>

<xs:element name="enrollCertificateIS" type="tns:enrollCertificateIS"/>

<xs:element name="enrollCertificateISResponse" type="tns:enrollCertificateISResponse"/>

<xs:element name="enrollCertificateMLSigner" type="tns:enrollCertificateMLSigner"/>

<xs:element name="enrollCertificateMLSignerResponse" type="tns:enrollCertificateMLSignerResponse"/>

<xs:element name="enrollCertificateResponse" type="tns:enrollCertificateResponse"/>

<xs:element name="generateDigitalCertification" type="tns:generateDigitalCertification"/>

<xs:element name="generateDigitalCertificationResponse" type="tns:generateDigitalCertificationResponse"/>

<xs:element name="generateKeystore" type="tns:generateKeystore"/>

<xs:element name="generateKeystoreResponse" type="tns:generateKeystoreResponse"/>

<xs:element name="getEnterpriseInfo" type="tns:getEnterpriseInfo"/>

<xs:element name="getEnterpriseInfoResponse" type="tns:getEnterpriseInfoResponse"/>

<xs:element name="getTokenInfo" type="tns:getTokenInfo"/>

<xs:element name="getTokenInfoResponse" type="tns:getTokenInfoResponse"/>

<xs:element name="notifyForgottenPasswordToUser" type="tns:notifyForgottenPasswordToUser"/>

<xs:element name="notifyForgottenPasswordToUserResponse" type="tns:notifyForgottenPasswordToUserResponse"/>

<xs:element name="notifyPasswordToNewUser" type="tns:notifyPasswordToNewUser"/>

<xs:element name="notifyPasswordToNewUserResponse" type="tns:notifyPasswordToNewUserResponse"/>

<xs:element name="reloadSystemConfiguarion" type="tns:reloadSystemConfiguarion"/>

<xs:element name="reloadSystemConfiguarionResponse" type="tns:reloadSystemConfiguarionResponse"/>

<xs:element name="revoke" type="tns:revoke"/>

<xs:element name="revokeResponse" type="tns:revokeResponse"/>

<xs:element name="sendAuthenticationCode" type="tns:sendAuthenticationCode"/>

<xs:element name="sendAuthenticationCodeResponse" type="tns:sendAuthenticationCodeResponse"/>

<xs:element name="sendMail" type="tns:sendMail"/>

<xs:element name="sendMailResponse" type="tns:sendMailResponse"/>

<xs:element name="setCustomerInfo" type="tns:setCustomerInfo"/>

<xs:element name="setCustomerInfoResponse" type="tns:setCustomerInfoResponse"/>

<xs:element name="signFile" type="tns:signFile"/>

<xs:element name="signFileResponse" type="tns:signFileResponse"/>

<xs:element name="uat" type="tns:uat"/>

<xs:element name="uatResponse" type="tns:uatResponse"/>

<xs:element name="updateTokenSOPIN" type="tns:updateTokenSOPIN"/>

<xs:element name="updateTokenSOPINResponse" type="tns:updateTokenSOPINResponse"/>

<xs:complexType name="reloadSystemConfiguarion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reloadSystemConfiguarionResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrationAuthorityWSResponse">
<xs:sequence>
<xs:element name="certifications" type="tns:certification" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="enterpriseInfo" type="tns:enterpriseInfo" minOccurs="0"/>
<xs:element name="keystore" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="responseCode" type="xs:int"/>
<xs:element name="responseMessage" type="xs:string" minOccurs="0"/>
<xs:element name="sopin" type="xs:string" minOccurs="0"/>
<xs:element name="sopinEncrypted" type="xs:string" minOccurs="0"/>
<xs:element name="tmsVersion" type="xs:string" minOccurs="0"/>
<xs:element name="tokenSn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="certification">
<xs:sequence>
<xs:element name="certSn" type="xs:string" minOccurs="0"/>
<xs:element name="certification" type="xs:string" minOccurs="0"/>
<xs:element name="emailContract" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="phoneContract" type="xs:string" minOccurs="0"/>
<xs:element name="publicKeyHash" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enterpriseInfo">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="issueDate" type="xs:string" minOccurs="0"/>
<xs:element name="legalDocumentType" type="xs:string" minOccurs="0"/>
<xs:element name="legalDocumentValue" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="permanentAddress" type="xs:string" minOccurs="0"/>
<xs:element name="phonenumber" type="xs:string" minOccurs="0"/>
<xs:element name="placeOfIssue" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="presentativeName" type="xs:string" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="taxCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signFile">
<xs:sequence>
<xs:element name="request" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrationAuthorityWSRequest">
<xs:sequence>
<xs:element name="base64Cert" type="xs:string" minOccurs="0"/>
<xs:element name="caName" type="xs:string" minOccurs="0"/>
<xs:element name="certSn" type="xs:string" minOccurs="0"/>
<xs:element name="certificationAttrId" type="xs:int" minOccurs="0"/>
<xs:element name="certificationId" type="xs:int" minOccurs="0"/>
<xs:element name="compromiseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="enterpriseInfo" type="tns:enterpriseInfo" minOccurs="0"/>
<xs:element name="fileManagerId" type="xs:int" minOccurs="0"/>
<xs:element name="keystorePassword" type="xs:string" minOccurs="0"/>
<xs:element name="keystoreType" type="xs:string" minOccurs="0"/>
<xs:element name="mailComponent" type="tns:mailComponent" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="raPortalUser" type="tns:raPortalUser" minOccurs="0"/>
<xs:element name="revokeReason" type="xs:int"/>
<xs:element name="sendEmailEnabled" type="xs:boolean"/>
<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
<xs:element name="sopin" type="xs:string" minOccurs="0"/>
<xs:element name="thumbprint" type="xs:string" minOccurs="0"/>
<xs:element name="tokenSn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mailComponent">
<xs:sequence>
<xs:element name="attachments" type="tns:attachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="sendTo" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attachment">
<xs:sequence>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raPortalUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="enabledCA" type="xs:boolean"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="remarkRoleEn" type="xs:string" minOccurs="0"/>
<xs:element name="remarkRoleVn" type="xs:string" minOccurs="0"/>
<xs:element name="roleName" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signFileResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateIS">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateISResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateDLSigner">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateDLSignerResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateMLSigner">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateMLSignerResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEnterpriseInfo">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEnterpriseInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificate">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateDS">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enrollCertificateDSResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTokenSOPIN">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTokenSOPINResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTokenInfo">
<xs:sequence>
<xs:element name="request" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTokenInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateDigitalCertification">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateDigitalCertificationResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendAuthenticationCode">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendAuthenticationCodeResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateKeystore">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateKeystoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uat">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="uatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revoke">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revokeResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendMail">
<xs:sequence>
<xs:element name="raRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendMailResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notifyForgottenPasswordToUser">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notifyForgottenPasswordToUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCustomerInfo">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCustomerInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchAlgorithmException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CertificateEncodingException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notifyPasswordToNewUser">
<xs:sequence>
<xs:element name="registrationAuthorityWSRequest" type="tns:registrationAuthorityWSRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notifyPasswordToNewUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:registrationAuthorityWSResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>