web/WEB-INF/wsdl/192.168.2.214_8083/TokenService/RegistrationAuthorityWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://raservice.mobileid.vn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://raservice.mobileid.vn/" name="RegistrationAuthorityWS">
<types>
<xsd:schema>
<xsd:import namespace="http://raservice.mobileid.vn/" schemaLocation="https://192.168.2.214:8083/TokenService/RegistrationAuthorityWS?xsd=1"/>
</xsd:schema>
</types>
<message name="reloadSystemConfiguarion">
<part name="parameters" element="tns:reloadSystemConfiguarion"/>
</message>
<message name="reloadSystemConfiguarionResponse">
<part name="parameters" element="tns:reloadSystemConfiguarionResponse"/>
</message>
<message name="generateDigitalCertification">
<part name="parameters" element="tns:generateDigitalCertification"/>
</message>
<message name="generateDigitalCertificationResponse">
<part name="parameters" element="tns:generateDigitalCertificationResponse"/>
</message>
<message name="sendAuthenticationCode">
<part name="parameters" element="tns:sendAuthenticationCode"/>
</message>
<message name="sendAuthenticationCodeResponse">
<part name="parameters" element="tns:sendAuthenticationCodeResponse"/>
</message>
<message name="notifyPasswordToNewUser">
<part name="parameters" element="tns:notifyPasswordToNewUser"/>
</message>
<message name="notifyPasswordToNewUserResponse">
<part name="parameters" element="tns:notifyPasswordToNewUserResponse"/>
</message>
<message name="notifyForgottenPasswordToUser">
<part name="parameters" element="tns:notifyForgottenPasswordToUser"/>
</message>
<message name="notifyForgottenPasswordToUserResponse">
<part name="parameters" element="tns:notifyForgottenPasswordToUserResponse"/>
</message>
<message name="getEnterpriseInfo">
<part name="parameters" element="tns:getEnterpriseInfo"/>
</message>
<message name="getEnterpriseInfoResponse">
<part name="parameters" element="tns:getEnterpriseInfoResponse"/>
</message>
<message name="enrollCertificate">
<part name="parameters" element="tns:enrollCertificate"/>
</message>
<message name="enrollCertificateResponse">
<part name="parameters" element="tns:enrollCertificateResponse"/>
</message>
<message name="uat">
<part name="parameters" element="tns:uat"/>
</message>
<message name="uatResponse">
<part name="parameters" element="tns:uatResponse"/>
</message>
<message name="revoke">
<part name="parameters" element="tns:revoke"/>
</message>
<message name="revokeResponse">
<part name="parameters" element="tns:revokeResponse"/>
</message>
<portType name="RegistrationAuthorityWS">
<operation name="reloadSystemConfiguarion">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/reloadSystemConfiguarionRequest" message="tns:reloadSystemConfiguarion"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/reloadSystemConfiguarionResponse" message="tns:reloadSystemConfiguarionResponse"/>
</operation>
<operation name="generateDigitalCertification">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/generateDigitalCertificationRequest" message="tns:generateDigitalCertification"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/generateDigitalCertificationResponse" message="tns:generateDigitalCertificationResponse"/>
</operation>
<operation name="sendAuthenticationCode">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/sendAuthenticationCodeRequest" message="tns:sendAuthenticationCode"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/sendAuthenticationCodeResponse" message="tns:sendAuthenticationCodeResponse"/>
</operation>
<operation name="notifyPasswordToNewUser">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/notifyPasswordToNewUserRequest" message="tns:notifyPasswordToNewUser"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/notifyPasswordToNewUserResponse" message="tns:notifyPasswordToNewUserResponse"/>
</operation>
<operation name="notifyForgottenPasswordToUser">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/notifyForgottenPasswordToUserRequest" message="tns:notifyForgottenPasswordToUser"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/notifyForgottenPasswordToUserResponse" message="tns:notifyForgottenPasswordToUserResponse"/>
</operation>
<operation name="getEnterpriseInfo">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/getEnterpriseInfoRequest" message="tns:getEnterpriseInfo"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/getEnterpriseInfoResponse" message="tns:getEnterpriseInfoResponse"/>
</operation>
<operation name="enrollCertificate">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/enrollCertificateRequest" message="tns:enrollCertificate"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/enrollCertificateResponse" message="tns:enrollCertificateResponse"/>
</operation>
<operation name="uat">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/uatRequest" message="tns:uat"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/uatResponse" message="tns:uatResponse"/>
</operation>
<operation name="revoke">
<input wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/revokeRequest" message="tns:revoke"/>
<output wsam:Action="http://raservice.mobileid.vn/RegistrationAuthorityWS/revokeResponse" message="tns:revokeResponse"/>
</operation>
</portType>
<binding name="RegistrationAuthorityWSPortBinding" type="tns:RegistrationAuthorityWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reloadSystemConfiguarion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generateDigitalCertification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendAuthenticationCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notifyPasswordToNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notifyForgottenPasswordToUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEnterpriseInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enrollCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="revoke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RegistrationAuthorityWS">
<port name="RegistrationAuthorityWSPort" binding="tns:RegistrationAuthorityWSPortBinding">
<soap:address location="https://192.168.2.214:8083/TokenService/RegistrationAuthorityWS"/>
</port>
</service>
</definitions>